---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const issues = await getCollection('issues');
  return issues.map((issue) => ({
	params: { slug: issue.data.number.toString() },
	props: { issue },
  }));
}

const { issue } = Astro.props;
const { Content } = await render(issue);

---

<Layout title={`Edição ${issue.data.number} - ${issue.data.title}`} description={`Leia a edição ${issue.data.number} da revista DMBR, intitulada "${issue.data.title}".`}>
	<article class="container">
		<h1>Edição {issue.data.number} - {issue.data.title}</h1>
		<div class="issue-content">
			<Content />
		</div>
	</article>
</Layout>