---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from 'astro:assets';

const allIssues = await getCollection("issues")
	.then((issues) => issues.sort((a, b) => {
		return Number(b.id) - Number(a.id);
	}))
	.catch((err) => {
		console.error(err);
		return [];
	});

const issuesByYear = allIssues.reduce<Record<string, CollectionEntry<'issues'>[]>>((acc, issue) => {
	const year = issue.data.year;
	if (!acc[year]) {
		acc[year] = [];
	}
	acc[year].push(issue);
	return acc;
}, {});

const covers = import.meta.glob<{ default: ImageMetadata }>('/src/assets/covers/*.{jpg,png,jpeg}', { eager: true });

const getCoverImage = (coverFileName: string) => {
	const coverPath = `/src/assets/covers/${coverFileName}`;
	return covers[coverPath]?.default;
};

---

<div class="issues">
	{Object.keys(issuesByYear).sort((a, b) => Number(b) - Number(a)).map((year) => (
		<section>
			<div class="container">
				<h2>{year}</h2>
				<div class="issues-list">
					 {issuesByYear[year].map((issue) => (
					 <a href={`/edicoes/${issue.id}/`}>
							{/* Edição {issue.data.number} - {issue.data.title} */}
							{/* <img src="https://placehold.co/200x280" alt="" /> */}
							{issue.data.cover && (
								<Image src={getCoverImage(issue.data.cover)!} width={240} alt={`Capa da edição ${issue.id} - ${issue.data.title}`} />
							)}
							{/* If issue has link, show a link icon */}
						</a>
					))}
				</div>
			</div>
		</section>
	))}
</div>

<style>
	.issues {
		margin-top: 12rem;
	}
	.issues section:nth-child(odd) {
		--bg-color: var(--color-background-secondary);
	}
	.issues section:nth-child(even) {
		--bg-color: var(--color-background);
	}

	.issues section {
		background-color: var(--bg-color);
		padding-block: 2rem;
		position: relative;
		padding-block: 1rem 12rem;
	}

	.issues h2 {
		font-size: 12rem;
		line-height: 1;
		position: absolute;
		bottom: calc(100% - 2.3rem);
		color: var(--bg-color);
		user-select: none;
	}

	.issues .issues-list {
		position: relative;
		z-index: 1;
		margin-top: -4rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		align-items: center;
		gap: 4rem 2rem;

		img {
			max-width: 200px;
			height: auto;
			border-radius: 8px;
			display: block;
		}

		@media (max-width: 767px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
</style>